:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

footer{
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
}

footer > p{
  position: fixed;
  bottom: 0;
  left: -40px;
  width: 100%;
  z-index: 1000;
  text-align: right;
}

.icon-left{
  position: fixed;
  bottom: 0;
  width: 10%;
  z-index: 1000;
  text-align: left;
}
