:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

img {
  width: 33%;
  height: auto;
}

.btn{
  font-family: "Play", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  margin: 1rem;
}

.btn-primary{
  border: green 3px solid !important;
  background-color: seagreen;
  color: white;
}

.btn-secondary{
  border: cornflowerblue 3px solid !important;
  background-color: cornflowerblue;
  color: white;
}

select{
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid green;
  width: fit-content;
  font-family: "Play", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
}

option{
  font-family: "Play", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
}

.selected-file > span.bg-info{
  text-decoration: underline;
}
