:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

app-my-component {
  display: flex;
  justify-content: center;
  align-items: center;
}
